[Unit]
Description=marude server service
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/marude
ExecStart=/usr/local/marude/marude_server
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
