[Unit]
Description=marude extend service
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/marude_extend
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target